html{
    scroll-behavior: smooth;

}
body{
    margin: 0px;
    font-family: century gothic;
    font-weight: 700;
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}
a:hover{
    text-decoration: underline;
}
.logo{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height:60px;
    width: 219px;
}
.logosec {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
background: rgb(9, 69, 7);
opacity: 10px ;
color:white;
margin: 0px;
padding: 0px;
}
.sear{
    background: rgb(255, 255, 255);
    margin-left: 0.375rem;
    color:black;
    border-radius: 20px;
    border:none;
    padding-top: 3px;
    padding-right: 0.125rem;
    padding-bottom: 3px;
    padding-left: 0.5rem;
    align-items: center;
    border-style: hidden;
    font-size: 20px;
}
.signin{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(215, 181, 59);
    margin-left: 1rem;
    padding-top: 3px;
    padding-right: 0.5rem;
    padding-bottom: 3px;
    padding-left: 0.5rem;
}
.choix{
    height: 60px;
    background: rgb(215, 181, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ch1{
    padding: 0px 2.25rem;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    font-size: 15px;
}
marquee{
    background-color: rgb(9, 69, 7);
    margin-top:50px ;
    text-shadow: 1px 1px 2px rgb(215, 181, 59);
       margin-bottom: 60px;
}
#contenu{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    padding-top: 1.5cm;
}

.table1{
    width: 100%;
    height: 400px;
    border-collapse: collapse;
    border: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.news{
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);;
    padding-left: 1em;
    font-weight: bold;
    line-height: 1;
    margin-left: 5px;
    height: 20px;
}
.gt{
   padding-right: 2.5rem;
   font-weight: inherit;
   font-weight: bold;
   color: rgb(0, 0, 0);
}
.small{
    font-size :0.5em;
    margin-top: 0.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
span {
    color:grey;
}
.td{
    text-align: justify;
}

hr{
    width: 600px;
    border: 1px solid black ;
}
.mod{
    height: 128px;
    width: 224px;
    position: relative;
}

.table2{
    width: 100%;
    height: 400px;
    border-collapse: collapse;
    border: 0px ;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.esp{
    height: 400px;
}
td{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: -2rem; 
}
.pg{
    height: 338px;
    width: 589px;
}

#footer {
    padding:50px 0;
    color:#f0f9ff;
    background-color:rgb(215, 181, 59);
    margin-top: 5em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
  }
.contain{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col1{
    text-align: center;
    padding-bottom: 15px;
    flex: 1;
    font-size: 20px;
}
ul{
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:20px;
    margin-bottom:0;
    text-align: center;
}
.row{
    display: flex;
}
.col{
   margin-right: 30rem;
    font-size: 20px;
    text-align: center;
}
p{
    color: black;
    font-weight: bold;
}
#st{
    width:80%;
    margin-top: 20px;
}
#bigti{
    font-size: 60px;
    text-align: center;
    padding-top: 1.5cm;
    text-shadow: 1px 1px 2px rgb(215, 181, 59);
    color: #094507;
}
.trend{
    width: 100%;
    height: 400px;
    border-collapse: collapse;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.bo{
    border-bottom: 2px solid gray;
    font-weight: 700;
    font-size: 20px;
}
#contenu2{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    padding-top: 1.5cm;
}
.view{
    font-size: inherit;
    color: seagreen;
    font-family: century gothic;
    font-weight: 1000;
}
<----------- sign up-------->
form {
    border: 5px solid #f1f1f1;
    }
    input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(215, 181, 59)c;
    box-sizing: border-box;
    }

    button {
    background-color: rgb(9, 69, 7);;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: grab;
    width: 48%;
    }

    button:hover {
    opacity: 0.8;
    }
    .fcontainer {
    text-align: center;
    margin: 24px 50px 12px;
    }
    .container {
    padding: 16px 0;
    text-align:left;
    margin: 24px 50px 12px;
    }
    span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
    }

    <--------------lyrics----------->
.plyrics{
    width:70%;
    border-collapse: collapse;
    border: 0px ;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 50px;
    padding-bottom: 3cm;
}
#plyrics{
    width:220px;
    height: 220px;
}
#g{
    font-size: 180%;
    color: #f5e508d7;
    text-shadow: 1px 1px 2px rgb(233, 230, 222);
}
.p{
    font-size: 120%;
}
.tlyrics{
    margin-left: 650px;
    margin-right: 550px;
}
p{
    margin: 1rem 0;
    padding-top: 5rem;
    font-size: 120%;
    font-weight:400;
    padding-bottom: 2cm;
}
.vid{
    margin-top: 2cm;
}
